.par{
    text-align: center;
    color:red;

}
#para1{
font-size: 30;
}
#para2{
    font-size: 18;
}
.profile{ display: block;
     width: 200px;
     height: 200px;
     border-radius: 70px;
     margin-left: auto;
     margin-right: auto;
    object-fit: cover;
    
}
.z{
    display:flex;}
.web{
    height: 110px;
margin-left: 25%;
}
.para2{    
    font-size: 20px;
}
.div1{ margin:3%;
    color:red
    }
.y{
    display: flex;
}
.web1{
    height: 110px;

}
.para3{
    font-size: 20px;

}
.div2{
    color:red
}
.x{
    display: flex;
}
.web2{
    height: 110px;
    margin-left: 25%;
    width: 180px;
}
.para4{font-size: 20px;}
.div3{
margin:3%;
color:red;
}

.body{
    
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
}
.main{
    display: flex;
    flex-direction: row;
  }
  
  .subdiv a{
    text-decoration: none;
  }
  
  .head{
    display: inline;
    font-size: 24px;
    
  }
  
  .para{
    font-size: 16px;
    margin: 0;
    color:bl;
  }
  
  .img{
    margin: auto 13px;
    height: 50px;
    width: 50px;
    color:yellow;
  }

.div2{
   margin-left: 35%;
}

.column{
    flex: 33.33%;
padding: 5px;
}
.div1{direction: flex;

}
